ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

li {
    display: inline-block;
    margin-left: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    color:white;
    text-decoration: none;
}

a.active {
  text-decoration: none;
  border-bottom: 1px solid #d4295e;
}

h1 a {
  color: #d4295e;
}

h1 a.active {
    color: #d4295e;
    border-bottom: none;
  }