body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background-color: #4ea489;*/
  background-color: #768a89;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  text-align: center;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 5px;
}

.signup {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: white;
  font-size: 25px;
}

/* Logout button */
.logout-button {
  font-size: 16px;
  border: none;
  padding: 6px;
  font-weight: 300;
  width:fit-content;
  border-radius: 4px;
}

/* HomePage */

.main-container {
  background-image: url("./assets/forestBook.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 520px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}


/* ListsList */
.list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Form styling */
form {
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: space-between;
  justify-content: flex-start;
  padding: 10px;
  width: 80%;
  
}

label {
  margin-bottom: 10px;
  color: #20274e;
}

input {
  margin-bottom: 20px;
  margin-top: 50px;
  /*background-color: #a45c4e;*/
  background-color: #ffad4f;
  /*background-color: #80768a;*/
  border: none;
  /*border-bottom: 2px solid white;*/
  padding: 5px 3px;
  padding-left: 10px;
  color: white;
  font-size: 18px;
  border-radius: 4px;
  width: 70%;
  align-self: center;
}

input::placeholder {
  font-size: 16px;
  color: white;
  opacity: .7;
  text-align: center;
}

/*
input:valid {
  border-bottom: 3px solid rgb(177, 238, 193);
}

input:invalid {
  border-bottom: 3px solid #f77676;
}
*/

.user-message {
  color: #f55e5e;
}

/* UserProfile page */
p {
  font-size: 20px;
  color: white;
  text-align: center;
}

/* Button styling */


.search-button, .surprise-button {
  margin-top: 10px;
  margin: auto;
  width: 80%;
  border: 3px solid  white;
  border-radius: 30px;
  padding: 10px;
  font-size: 22px;
  font-weight: 700;
  cursor: pointer;
  background: -webkit-linear-gradient(#eee, white);
   -webkit-background-clip: text;
   -webkit-text-fill-color: white;
}

.favorite, .book-details {
  color: #4a716f;
  color: #ffd94f;
  color: #ffad4f;
  font-size: 36px;
}



.browse {
  margin-top: 40px;
  /*color: #a44e5b;*/
  /*color: #a44e86*/
  /*color: #6c4ea4;*/
  /*color: #ffad4f;*/
  /*color: #ffd94f;*/
  color: #ff4f9b;
  color: #ffd94f;
  color: #ffad4f;
  font-size: 36px;
}

.details-text-arrow {
  visibility: hidden;
}


/* Status.js styling */
.status {
  color: white;
  font-size: 18px;
}


/* Footer */
footer p {
  margin: 6px;
}

footer p:first-child {
  margin-top: 30px;
}

footer p:last-child {
  margin-bottom: 30px;
}