body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #768a89;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 5px;
}

/***** Nav *****/

header {
  background-color: #768a89;
  width: 100%;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-left: auto;
  padding-right: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  display: inline-block;
  margin-right: 15px;
}

a {
  color:white;
  text-decoration: none;
}

a.active {
text-decoration: none;
border-bottom: 1px solid #ffd94f;
}

h1 a {
color: #ffd94f;
margin-left: 10px;
margin-right: 20px;
font-size: 30px;
}

h1 a.active {
  color: #ffd94f;
  border-bottom: none;
  margin-left: 10px;
}

/***** Media Query min 768px *****/

@media (min-width: 768px) {
  nav {
    width: 100%;
  }

  .read-on-link {
    margin: 10px 20px 21px;
  }

  li:last-child {
    margin-right: 38px;
  }
}

/***** Sign-Up *****/

.sign-up {
  background-image: url("./assets/forestBook.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 520px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

h1 {
  color: white;
  font-size: 25px;
  text-align: center;
}

/***** Logout button *****/

.logout-button {
  font-size: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  padding: 6px;
  font-weight: 300;
  width:fit-content;
  border-radius: 4px;
}

/***** Login Page *****/

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.button-container button {
  font-size: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background: white;
  font-family: Roboto;
  padding: 12px 8px;
  font-weight: 300;
  border-radius: 4px;
  margin: 5px;
  width: 90px;
}

/***** All pages *****/

.main-container {
  background-image: url("./assets/forestBook.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 520px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

/***** ListsList *****/

.list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

/***** Form styling *****/

form {
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: space-between;
  justify-content: flex-start;
  padding: 10px;
  width: 92%;
}

input.input-password, input.input-name {
  padding: 10px;
  color: white;
  margin-top: 2px;
}

input {
  margin-bottom: 20px;
  margin-top: 50px;
  background-color: #ffad4f;
  border: none;
  padding: 10px 3px;
  padding-left: 10px;
  color: white;
  font-size: 18px;
  border-radius: 4px;
  width: 70%;
  align-self: center;
  border-bottom: none;
}

input::placeholder {
  font-size: 16px;
  color: white;
  opacity: .7;
  text-align: center;
}

input.input-password {
  margin-top: 5px;
}

input:valid {
  border-bottom: 3px solid white;
}

input:invalid {
  border-bottom: 3px solid #FF951C;
}

.search-input:valid {
  border-bottom: none;
}

.user-message {
  color: #ffd94f;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  /*padding: 12px;*/
  border-radius: 4px;
  background-color: white;
}

/***** Media Query min 768px *****/

@media (min-width: 768px) {
  form {
    max-width: 400px;
  }

  .outer-container-surprise-card {
    display: flex;
    justify-content: center;
  }
}

/***** Button styling HomePage *****/

.search-button, .surprise-button {
  margin-top: 10px;
  margin: auto;
  width: 80%;
  border: 3px solid  white;
  border-radius: 30px;
  padding: 10px;
  font-size: 22px;
  font-weight: 700;
  cursor: pointer;
  background: -webkit-linear-gradient(#eee, white);
   -webkit-background-clip: text;
   -webkit-text-fill-color: white;
}

/***** Button styling Clear all *****/

.clear-all-button {
  font-size: 16px;
  color: white;
  padding: 15px;
  border-radius: 4px;
  background: #ffad4f;
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

/***** Clear all alert box *****/

.swal-button--danger {
  background-color: #FF814F;
}
.swal-modal {
  border-radius: 20px;
}

/***** Page Headings *****/

.favorite, .book-details, .favorites {
  color: #ffad4f;
  font-size: 36px;
  text-align: center;
}

.signup-heading {
  font-size: 36px;
}

/***** Browse Page *****/

.browse {
  margin-top: 40px;
  color: #ffad4f;
  font-size: 36px;
  text-align: center;
}

/***** Media Query min 768px *****/

@media (min-width: 768px) {
  .container-browse  {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 60%;
  }

  .container-browse-result {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
    justify-content: center;
  }
}

/***** Book Details *****/

.details-text-arrow {
  visibility: hidden;
}

/***** Footer *****/

footer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  color: white;
  margin-bottom: 50px;
}

footer p {
  margin: 4px;
}

footer p:first-child {
  margin-top: 40px;
}

footer p:last-child {
  margin-bottom: 10px;
}