body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background-color: #4ea489;*/
  background-color: #768a89;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 5px;
}

/***** Nav *****/

header {
  /*box-sizing: border-box;*/
  background-color: #768a89;
  width: 100%;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1;
  }

  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-left: auto;
    padding-right: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  display: inline-block;
  margin-right: 15px;
}


a {
  color:white;
  text-decoration: none;
}

a.active {
text-decoration: none;
border-bottom: 1px solid #ffd94f;
}

h1 a {
/*color: #ffad4f;*/
color: #ffd94f;
margin-left: 10px;
margin-right: 20px;
font-size: 30px;
}

h1 a.active {
  /*color: #ffad4f;*/
  color: #ffd94f;
  border-bottom: none;
  margin-left: 10px;

}

/***** Media Query min 768px *****/
@media (min-width: 768px) {

  nav {
    width: 100%;
  }

  .read-on-link {
    margin: 10px 20px 21px;
  }

  li:last-child {
    margin-right: 38px;
  }
}

/***** Sign-Up *****/
.sign-up {
  background-image: url("./assets/forestBook.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 520px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

h1 {
  color: white;
  font-size: 25px;
  text-align: center;
}

/***** Logout button *****/
.logout-button {
  font-size: 16px;
  border: none;
  padding: 6px;
  font-weight: 300;
  width:fit-content;
  border-radius: 4px;
}

/***** Login Page *****/
.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.button-container button {
  font-size: 16px;
  border: none;
  padding: 12px 8px;
  font-weight: 300;
  border-radius: 4px;
  margin: 5px;
  width: 90px;
}

/***** All pages *****/
.main-container {
  background-image: url("./assets/forestBook.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 520px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

/***** ListsList *****/
.list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

/***** Form styling *****/
form {
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: space-between;
  justify-content: flex-start;
  padding: 10px;
  width: 92%;
}

/*
label {
  margin-bottom: 10px;
  color: #20274e;
}
*/
input.input-password, input.input-name {
  padding: 10px;
  color: white;
  margin-top: 2px;
}

input.input-password {
  margin-top: 5px;
}

input {
  margin-bottom: 20px;
  margin-top: 50px;
  /*background-color: #a45c4e;*/
  background-color: #ffad4f;
  /*background-color: #80768a;*/
  border: none;
  /*border-bottom: 2px solid white;*/
  padding: 10px 3px;
  padding-left: 10px;
  color: white;
  font-size: 18px;
  border-radius: 4px;
  width: 70%;
  align-self: center;
}

input::placeholder {
  font-size: 16px;
  color: white;
  opacity: .7;
  text-align: center;
}

/*
input:valid {
  border-bottom: 3px solid rgb(177, 238, 193);
}

input:invalid {
  border-bottom: 3px solid #f77676;
}
*/

.user-message {
  color: #f55e5e;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

/***** Media Query min 768px *****/
@media (min-width: 768px) {
  form {
    max-width: 400px;
  }

  .surprise-me-card {
    justify-content: center;
  }
}


/***** Button styling HomePage *****/
.search-button, .surprise-button {
  margin-top: 10px;
  margin: auto;
  width: 80%;
  border: 3px solid  white;
  border-radius: 30px;
  padding: 10px;
  font-size: 22px;
  font-weight: 700;
  cursor: pointer;
  background: -webkit-linear-gradient(#eee, white);
   -webkit-background-clip: text;
   -webkit-text-fill-color: white;
}

/***** Page Headings *****/
.favorite, .book-details {
  color: #4a716f;
  color: #ffd94f;
  color: #ffad4f;
  font-size: 36px;
  text-align: center;
}

.signup-heading {
  font-size: 36px;
}


/***** Browse Page *****/
.browse {
  margin-top: 40px;
  /*color: #a44e5b;*/
  /*color: #a44e86*/
  /*color: #6c4ea4;*/
  /*color: #ffad4f;*/
  /*color: #ffd94f;*/
  color: #ff4f9b;
  color: #ffd94f;
  color: #ffad4f;
  font-size: 36px;
  text-align: center;
}

{/*}
.outer-container {
  width: 80%;
}
*/}
/***** Media Query min 768px *****/
@media (min-width: 768px) {
  .container-browse  {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 60%;
  }

  .container-browse-result {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
    justify-content: center;
  }

  .container-detail {
    width: 600px;
  }

}

/***** Book Details *****/
.details-text-arrow {
  visibility: hidden;
}


/* Status.js styling 
.status {
  color: white;
  font-size: 18px;
}
*/


/***** Footer *****/
footer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  color: white;
  margin-bottom: 50px;
}

footer p {
  margin: 4px;
}

footer p:first-child {
  margin-top: 40px;
}

footer p:last-child {
  margin-bottom: 10px;
}